.section1 {
  height: 100vh;
  width: 100%;
  background-color: red;

  .upper-container {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: rgb(194, 194, 194);
    
    .container {
      max-width: 1400px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .lower-container {
    height: 30vh;
    width: 100%;
    background-color: aliceblue;
  }
}