.container {
    background-color: #333333;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    // height: 80vh;
    margin-right: 20vw;  /* 30% of the viewport width */
    margin-left: 20vw; /* 30% of the viewport width */
    // margin-bottom: 20vh; /* 30% of the viewport width */

    .selection-container {
        display: flex; /* Use flexbox for horizontal alignment */
        align-items: center; /* Align items vertically in the center */
        justify-content: space-evenly;
        // gap: 10px; /* Add some space between the elements */
        padding: 50px;
        
        .dropdown-container {
            // flex-grow: 1; /* Dropdowns take equal width */
            height: 50px;
            width: 30%;
            // border-radius: 10%;
        
            .dropdown {
                height: 100%;
                width: 100%;
                background-color: #ffffff;
                border-radius: 10px;
            }
        }   
    }

    .chart-container {
        padding: 50px;
        border-color: white;
        border-style: solid;
        border-width: thin;
    }
}



